<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>チョコットランド最強剣一覧</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <h2>チョコットランド最強剣一覧</h2>
  <table>
    <tr><th>レベル制限</th><th>名前</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.level %></td>
        <td><a href="/saikyouken/<%= number %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/saikyouken/create" class="btn btn-add">追加</a>
</body>
</html>